.jumbotron {
    background-image: url('../../assets/30b863ed75c38c1bb345ec5770f7f7eb.jpg');
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // background-size: cover;


    background-size: 100%, 100%, 100%, 100%;
    padding-top: 50px;

}

ion-toolbar {
    --background: transparent !important;

}



.jumbotron h4 {
    text-align: center;
    margin-bottom: 100px;
    color: cornsilk;
    text-shadow: 1px 1px 10px purple;
    margin-top: 50px;
}

.content-container {

    border-radius: 60px !important;
}

ion-avatar {

    margin: auto;
    margin-bottom: 10px;
    width: 100px !important;
    height: 100px !important;


    // --border-radius: px;
    // max-width: 100px !important; //any size
    // max-height: 100px !important; //any size 
}

ion-avatar img {
    margin-top: 30px;
    border: 5px solid cornsilk;
    box-shadow: 1px 1px 10px purple;

}