<!-- <ion-toolbar>
  <ion-header>
    <a>Welcome Back,</a>
    <h4>Candra Dwi Kusuma</h4>
  </ion-header>


  <ion-buttons slot="end">

    <ion-icon class="notif" slot="icon-only" name="notifications-outline"></ion-icon>

  </ion-buttons>
</ion-toolbar> -->

<ion-toolbar mode="md">

  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>
    <h5>Welcome Back,</h5>
    <h4>Candra Dwi Kusuma</h4>
  </ion-title>
</ion-toolbar>

<ion-content padding>

  <!-- Animated Searchbar -->
  <ion-searchbar mode="ios" color="light" animated></ion-searchbar>



  <!-- <div class="jumbotron text-center">


    <ion-avatar class="avatar">
      <img src="../../assets/shapes.svg">
    </ion-avatar>
    <h1>Candra Dwi Kusuma</h1>

  </div> -->
  <ion-list-header>
    <h3>Event</h3>
  </ion-list-header>
  <div *ngFor="let a of items" class="category-block">

    <!-- <ion-row no-padding class="category-banner">
      <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
        {{cat.category}}
      </ion-col>
    </ion-row> -->


    <ion-slides [options]="slide1pts">
      <ion-slide *ngFor="let product of a.products">

        <ion-card class="card">
          <img src="{{product.img}}">
          <div class="card-title"> {{product.name}}</div>
          <div class="card-subtitle"> {{product.point}} point</div>

        </ion-card>

      </ion-slide>
    </ion-slides>


  </div>
  <!-- <ion-row no-padding class="category-banner">
    <ion-col text-left button align-self-center>
      Childern
    </ion-col>

  </ion-row> -->
  <ion-list>
    <ion-list-header>
      <h3>Child</h3>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://api.adorable.io/avatars/122/abott@adorable.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Child 1</h2>
        <h3>Category event</h3>
        <p>aliquam commodi! Consequatur quae nocupiditate unde, ullam impedit natus, sapiente eos quod nemo sint
          repellat veritatis eveniet officiis nihil
          quis!</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="https://api.adorable.io/avatars/60/c.png"> </ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>Child 2</h2>
        <h3>Category event</h3>
        <p>aliquam commodi! Consequatur quae nocupiditate unde, ullam impedit natus, sapiente eos quod nemo sint
          repellat veritatis eveniet officiis nihil
          quis!</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://api.adorable.io/avatars/122/sdafhjk.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Child 3</h2>
        <h3>Category event</h3>
        <p>aliquam commodi! Consequatur quae nocupiditate unde, ullam impedit natus, sapiente eos quod nemo sint
          repellat veritatis eveniet officiis nihil
          quis!</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list-header>
    <h3>Module</h3>
  </ion-list-header>

  <div *ngFor="let cat of items2" class="category-block">

    <!-- <ion-row no-padding class="category-banner">
      <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
        {{cat.category}}
      </ion-col>
    </ion-row> -->


    <ion-slides [options]="module">
      <ion-slide *ngFor="let modul of cat.product">


        <ion-card class="card">
          <img src="{{modul.img}}">
          <div class="card-title"> {{modul.name}}</div>
          <div class="card-subtitle"> {{modul.point}} point</div>

        </ion-card>

      </ion-slide>
    </ion-slides>


  </div>

</ion-content>